* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: brown;
}

header {
    border: black 6px dotted;
    width:100vw;
    height:100px;
    display:flex;
    justify-content:center;
}

h1 {
    color: goldenrod;
    font-size: 75px;
}

p {
    font-size: x-large;
    color:goldenrod;
    width: 70vw;
    margin: 20px;
}

img {
    margin-top: 20px;
}